In [1]:
import pandas as pd

sales_2017 = pd.read_csv('Sales Transactions-2017.csv')
sales_2018 = pd.read_csv('Sales Transactions-2018.csv')
sales_2019 = pd.read_csv('Sales Transactions-2019.csv')

In [2]:
sales_2017

,Date,Voucher,Party,Product,Qty,Rate,Gross,Disc,Voucher Amount
0,1/4/2017,Sal:1,SOLANKI PLASTICS,DONA-VAI-9100,2,"1,690.00","3,380.00",NaN,"13,100.00"
1,1/4/2017,Sal:1,SOLANKI PLASTICS,LITE FOAM(1200),6,"1,620.00","9,720.00",NaN,NaN
2,1/4/2017,Sal:2,SARNESWARA TRADERS,VISHNU CHOTA WINE,500,23,"11,500.00",NaN,"30,990.00"
3,1/4/2017,Sal:2,SARNESWARA TRADERS,LITE FOAM(1200),6,"1,620.00","9,720.00",NaN,NaN
4,1/4/2017,Sal:2,SARNESWARA TRADERS,DONA-VAI-9100,5,"1,690.00","8,450.00",NaN,NaN
...,...,...,...,...,...,...,...,...,...
47285,31/03/2018,Sal:10042,Vkp,10*10 SHEET,25,137,"3,425.00",NaN,"3,425.00"
47286,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47287,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47288,NaN,Total,NaN,NaN,"607,734.60","669,300.49","9,953,816.13","106,607.00","9,868,583.13"
47289,NaN,Total,NaN,NaN,"7,593,062.00","8,309,116.00","115,778,725.71","936,348.00","115,105,123.71"

In [3]:
sales_2018

,Date,Voucher,Party,Product,Qty,Rate,Gross,Disc,Voucher Amount
0,1/4/2018,Sal:146,TP13,SILVER POUCH 9*12,50,85,"4,250.00",NaN,"66,724.00"
1,1/4/2018,Sal:146,TP13,RUBBER,5,290,"1,450.00",NaN,NaN
2,1/4/2018,Sal:146,TP13,DURGA 10*12 Blue,"1,600.00",5.5,"8,800.00",NaN,NaN
3,1/4/2018,Sal:146,TP13,DURGA 13*16 BLUE,400,11,"4,400.00",NaN,NaN
4,1/4/2018,Sal:146,TP13,10*12 SARAS-NAT,600,8.1,"4,860.00",NaN,NaN
...,...,...,...,...,...,...,...,...,...
44735,31/03/2019,Sal:9610,HAMPI FOODS,SPOON SOOFY,200,40,"8,000.00",NaN,NaN
44736,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44737,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44738,NaN,Total,NaN,NaN,"666,056.00","1,067,808.80","10,796,991.30","29,999.00","10,787,647.30"
44739,NaN,Total,NaN,NaN,"7,097,803.00","10,024,197.00","117,897,671.80","720,204.00","117,427,983.80"

In [4]:
sales_2019

,Date,Voucher,Party,Product,Qty,Rate,Gross,Disc,Voucher Amount
0,1/4/2019,Sal:687,BALAJI PLASTICS,DONA-VAI-9100,1,"1,730.00","1,730.00",NaN,"3,460.00"
1,1/4/2019,Sal:687,BALAJI PLASTICS,SMART BOUL(48),1,"1,730.00","1,730.00",NaN,NaN
2,1/4/2019,Sal:688,BALAJI PLASTICS,Vishnu Ice,110,18.5,"2,035.00",NaN,"2,035.00"
3,,,28/3,,0,0,,,
4,1/4/2019,Sal:689,BALAJI PLASTICS,100LEAF -SP,3,585,"1,755.00",NaN,"1,755.00"
...,...,...,...,...,...,...,...,...,...
19171,10/10/2019,Sal:4935,K.SRIHARI,13*16 WHITE RK,400,16,"6,400.00",NaN,NaN
19172,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19173,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19174,NaN,Total,NaN,NaN,"99,284.90","175,381.65","2,203,649.50","20,680.00","2,189,014.50"
19175,NaN,Total,NaN,NaN,"2,710,193.00","5,519,888.40","53,360,791.40","672,984.00","52,830,224.40"

In [5]:
data_ls = [sales_2017, sales_2018, sales_2019]

In [6]:
sales_data_df = pd.concat(data_ls)

In [7]:
sales_data_df

,Date,Voucher,Party,Product,Qty,Rate,Gross,Disc,Voucher Amount
0,1/4/2017,Sal:1,SOLANKI PLASTICS,DONA-VAI-9100,2,"1,690.00","3,380.00",NaN,"13,100.00"
1,1/4/2017,Sal:1,SOLANKI PLASTICS,LITE FOAM(1200),6,"1,620.00","9,720.00",NaN,NaN
2,1/4/2017,Sal:2,SARNESWARA TRADERS,VISHNU CHOTA WINE,500,23,"11,500.00",NaN,"30,990.00"
3,1/4/2017,Sal:2,SARNESWARA TRADERS,LITE FOAM(1200),6,"1,620.00","9,720.00",NaN,NaN
4,1/4/2017,Sal:2,SARNESWARA TRADERS,DONA-VAI-9100,5,"1,690.00","8,450.00",NaN,NaN
...,...,...,...,...,...,...,...,...,...
19171,10/10/2019,Sal:4935,K.SRIHARI,13*16 WHITE RK,400,16,"6,400.00",NaN,NaN
19172,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19173,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19174,NaN,Total,NaN,NaN,"99,284.90","175,381.65","2,203,649.50","20,680.00","2,189,014.50"
19175,NaN,Total,NaN,NaN,"2,710,193.00","5,519,888.40","53,360,791.40","672,984.00","52,830,224.40"

In [8]:
sales_data_df.isna().sum()

Date               12591
Voucher            12557
Party                 40
Product            12591
Qty                12557
Rate               12558
Gross              12558
Disc              105609
Voucher Amount     83646
dtype: int64

In [9]:
sales_data_df = sales_data_df.dropna(subset='Qty')

In [10]:
sales_data_df.isna().sum()

Date                 34
Voucher               0
Party                34
Product              34
Qty                   0
Rate                  1
Gross                 1
Disc              93052
Voucher Amount    71089
dtype: int64

In [11]:
sales_data_df = sales_data_df.dropna(subset='Date')

In [12]:
sales_data_df.isna().sum()

Date                  0
Voucher               0
Party                 0
Product               0
Qty                   0
Rate                  1
Gross                 1
Disc              93052
Voucher Amount    71089
dtype: int64

In [13]:
del sales_data_df['Voucher Amount']

In [14]:
sales_data_df.isna().sum()

Date           0
Voucher        0
Party          0
Product        0
Qty            0
Rate           1
Gross          1
Disc       93052
dtype: int64

In [15]:
sales_data_df['Disc'] = sales_data_df['Disc'].fillna(0)

In [51]:
sales_data_df.isna().sum()

Date       0
Voucher    0
Party      0
Product    0
Qty        0
Rate       1
Gross      1
Disc       0
dtype: int64

In [37]:
sales_data_df.shape

(98615, 8)

In [18]:
sales_data_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 98615 entries, 0 to 19171
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     98615 non-null  object
 1   Voucher  98615 non-null  object
 2   Party    98615 non-null  object
 3   Product  98615 non-null  object
 4   Qty      98615 non-null  object
 5   Rate     98614 non-null  object
 6   Gross    98614 non-null  object
 7   Disc     98615 non-null  object
dtypes: object(8)
memory usage: 6.8+ MB

In [19]:
sales_data_df['Date'] = pd.to_datetime(sales_data_df['Date'], errors='coerce', format = "%d/%m/%Y")

In [40]:
sales_data_df = sales_data_df.dropna(subset='Date')

In [50]:
(sales_data_df == ' ').sum()

Date       0
Voucher    0
Party      0
Product    0
Qty        0
Rate       0
Gross      0
Disc       0
dtype: int64

In [23]:
sales_data_df['Disc'] = sales_data_df['Disc'].replace(' ', '')

In [28]:
sales_data_df['Disc'] = sales_data_df['Disc'].replace(',', '', regex = True)

In [29]:
sales_data_df['Disc'] = pd.to_numeric(sales_data_df['Disc'])

In [49]:
sales_data_df.dtypes

Date       datetime64[ns]
Voucher            object
Party              object
Product            object
Qty               float64
Rate              float64
Gross             float64
Disc              float64
dtype: object

In [32]:
sales_data_df['Qty'] = sales_data_df['Qty'].replace(' ', '')

In [34]:
sales_data_df['Qty'] = sales_data_df['Qty'].replace(',', '', regex = True)

In [35]:
sales_data_df['Qty'] = pd.to_numeric(sales_data_df['Qty'])

In [42]:
sales_data_df

,Date,Voucher,Party,Product,Qty,Rate,Gross,Disc
0,2017-04-01,Sal:1,SOLANKI PLASTICS,DONA-VAI-9100,2.0,"1,690.00","3,380.00",0.0
1,2017-04-01,Sal:1,SOLANKI PLASTICS,LITE FOAM(1200),6.0,"1,620.00","9,720.00",0.0
2,2017-04-01,Sal:2,SARNESWARA TRADERS,VISHNU CHOTA WINE,500.0,23,"11,500.00",0.0
3,2017-04-01,Sal:2,SARNESWARA TRADERS,LITE FOAM(1200),6.0,"1,620.00","9,720.00",0.0
4,2017-04-01,Sal:2,SARNESWARA TRADERS,DONA-VAI-9100,5.0,"1,690.00","8,450.00",0.0
...,...,...,...,...,...,...,...,...
19167,2019-10-10,Sal:4935,K.SRIHARI,16*20(100-W),140.0,26,"3,640.00",0.0
19168,2019-10-10,Sal:4935,K.SRIHARI,10*12 KRISHNA-BK(10,600.0,8.4,"5,040.00",0.0
19169,2019-10-10,Sal:4935,K.SRIHARI,13*16 Bk(100)KRISHN,320.0,16,"5,120.00",0.0
19170,2019-10-10,Sal:4935,K.SRIHARI,10*12 RK,800.0,8.5,"6,800.00",0.0
19171,2019-10-10,Sal:4935,K.SRIHARI,13*16 WHITE RK,400.0,16,"6,400.00",0.0

In [44]:
sales_data_df['Rate'] = sales_data_df['Rate'].replace(',', '', regex = True)

In [45]:
sales_data_df['Rate'] = pd.to_numeric(sales_data_df['Rate'])

In [47]:
sales_data_df['Gross'] = sales_data_df['Gross'].replace(',', '', regex = True)

In [48]:
sales_data_df['Gross'] = pd.to_numeric(sales_data_df['Gross'])