In [1]:
student1_name="Daniel"
student1_add="Moon"
student1_phon=+191919
student1_age=10

In [2]:
student2_name="Jinshi"
student2_add="Sun"
student2_phon=+18181818
student2_age=8

In [4]:
student2_add

'Sun'

In [28]:
class Student_info:
    
    def __init__(self,name,add,phon,age):
        self.name=name
        self.add=add
        self.phon=phon
        self.age=age
        
        
    def greet(self):
        print(self)
        print(f"Hello {self.name} welcome to Nasir's class you are staying at {self.add} your number is {self.phon} and you are {self.age} years old")
        
        

    def i_age(self):
        self.age = self.age + 10
        print(self.age)

In [29]:
Student_1=Student_info("Daniel","Moon",+191919,10)

In [7]:
Student_1.name

'Daniel'

In [23]:
Student_2=Student_info("Jinshi","sun",+181818,8)

In [9]:
Student_2.name

'Jinshi'

In [10]:
Student_3=Student_info("Rishi","sun",+101010,9)

In [11]:
Student_3.name

'Rishi'

In [12]:
Student_3.age

9

In [ ]:
df.dtypes

In [21]:
Student_1.greet()

<__main__.Student_info object at 0x000001B6C05BAE10>
Hello Daniel welcome to Nasir's class you are staying at Moon your number is 191919 and you are 10 years old

In [24]:
Student_2.greet()

<__main__.Student_info object at 0x000001B6C05AB110>
Hello Jinshi welcome to Nasir's class you are staying at sun your number is 181818 and you are 8 years old

In [ ]:
class student_info:
    def __init__(self,name,address,phone,age):
        self.name=name
        self.address=address
        self.phone=phone
        self.age=age+10

In [30]:
Student_1.i_age()

20

In [7]:
class Student_info:
    
    def __init__(self,name,add,phon,age):
        self.name=name
        self.add=add
        self.phon=phon
        self.age=age
        
        
    def greet(self):
        print(self)
        print(f"Hello {self.name} welcome to Nasir's class you are staying at {self.add} your number is {self.phon} and you are {self.age} years old")
        
        

    def i_age(self):
        self.age = self.age + 10
        print(self.age)

In [8]:
Student_1=Student_info("Daniel","Moon",+191919,10)

In [ ]:
Student_2=Student_info("Jinshi","sun",+181818,8)

In [ ]:
Student_3=Student_info("Rishi","sun",+101010,9)

# Object Oriented programming (OOP) is a programming paradigm that relies on the concept of classes and objects.

# A Class is a template definition of the methods and variables

# Object is instance of a class

# The self variable is used to represent the instance of the class

 # Encapsulation is used to restrict access of data members and functions in a class

# Getter--A method that allows you to access an attribute in a given class

# Setter--the methods used in OOPS feature which helps to set the value to private attributes in a class

# Instant Variables (object Variables ) value of the variable changes object to object

# local Variables (Method Variables) variables which are declared in  method  for temporary  use

# Global Variables (Class Variables ) value of the variable does not changes object to object

# Polymorphism--the same entity (function or object) behaves differently in different scenarios

# Ticket_app

In [ ]:
class ticket:
    
    def __init__ (self,name,age,num_tickets,movie_name):
        self.name=name
        self.age=age
        self.num_tickets=num_tickets
        self.movie_name=movie_name
        
        
        
    def calculate_ticket_cost(self):
        print(3)
        
        if self.age < 18:
            ticket_price=100
            
        elif self.age>60:
            ticket_price=120
            
        else:
            ticket_price=150
            
        total_price=ticket_price*num_tickets
        return total_price
    
    
    def Book_ticket(self):
        print(2)
        total_price=self.calculate_ticket_cost()
        
        print(f'Thankyou {self.name} you have booked {self.num_tickets} tickets for {self.movie_name}')
        print(f'Total amount is {total_price} Rs')
              
        
    
    
        
if __name__=='__main__':
    print("1")
    name=input("Enter the name")
    age=int(input("Enter the age"))
    num_tickets=int(input("Enter thr num of tickets "))
    movie_name=input("Enter the movie name ")
        
        
    customer=ticket(name,age,num_tickets,movie_name)
    customer.Book_ticket()

1
Enter the namenas
Enter the age10
Enter thr num of tickets 0
Enter the movie name pk
2
3
Thankyou nas you have booked 0 tickets for pk
Total amount is 0 Rs

In [23]:
class Software_emp:
    
    job_type="Software"
    
    
    def __init__(self,name,emp_id,des,sal,add,age):
        
        self.name=name
        self.emp_id=emp_id
        self.des=des
        self.__sal=sal # Encapsulation
        self.add=add
        self.age=age
    
    # Getter
    def show_sal(self,password):
        if password=="@Nas007":
            print(f" Sal of {self.name} is {self.__sal}")
            
        else:
            print("Get Lost")
            
            
    # Setter
    def inc_sal(self,password):
        add_sal=20000
        if password=="@Nas007":
            self.__sal=self.__sal+add_sal
            
        else:
            print("Get Lost")

In [24]:
Emp_1=Software_emp("Jinsh","001","DS",80000,"Moon",10)

In [26]:
Emp_1.sal

'80000'

In [26]:
Emp_2=Software_emp("Daniel","007","DS","90000","Moon",20)

In [28]:
Emp_3=Software_emp("DP","003","SDS","180000","Moon")

In [29]:
Emp_2.sal

'90000'

In [30]:
Emp_3.sal

'180000'

In [31]:
Emp_2.sal

'90000'

In [33]:
Emp_2.

'90000'

In [38]:
Emp_1.sal

AttributeError: 'Software_emp' object has no attribute 'sal'

In [42]:
Emp_1.show_sal("nas0000")

Get Lost

In [43]:
Emp_1.show_sal("@Nas007")

 sal of Jinsh is 80000

In [11]:
Emp_1.age+20

30

In [12]:
Emp_1.sal

AttributeError: 'Software_emp' object has no attribute 'sal'

In [20]:
Emp_1.inc_sal("@Nas007")

In [21]:
Emp_1.show_sal("@Nas007")

 Sal of Jinsh is 120000

In [25]:
Emp_1.job_type

'Software'

In [27]:
Emp_2.job_type

'Software'

In [57]:
class Software_emp:
    
    job_type="Software"
    
    
    def __init__(self,name,emp_id,des,sal,add,age):
        
        self.name=name
        self.emp_id=emp_id
        self.des=des
        self.__sal=sal # Encapsulation
        self.add=add
        self.age=age
    
    # Getter
    def show_sal(self,password):
        if password=="@Nas007":
            print(f" Sal of {self.name} is {self.__sal}")
            
        else:
            print("Get Lost")
            
            
    # Setter
    def inc_sal(self,password):
        add_sal=20000
        if password=="@Nas007":
            self.__sal=self.__sal+add_sal
            
        else:
            print("Get Lost")
    

    
    
    
class Hardware_emp(Software_emp):
    
    job_type="Hardware"
    
    
    def __init__(self,name,emp_id,des,sal,add,age,insur):
        Software_emp. __init__(self,name,emp_id,des,sal,add,age)
        self.__sal=sal
        self.__insur=insur
        
        
    
    def inc_sal(self,password):
        add_sal=20000
        if password=="@Nas007":
            self.__sal=self.__sal+add_sal
            self.__insur=self.__insur+20000
            print(self.__sal)
            
            
        else:
            print("Get Lost")
            
            
    def show_insur(self,password):
        if password=="@Nas007":
            print(f" Sal of {self.name} is {self.__insur}")
            
        else:
            print("Get Lost")

In [58]:
Emp_HW_1=Hardware_emp("Nas",1,"CEO",200000,"Moon",10,5000
                     )

In [59]:
Emp_HW_1.inc_sal("@Nas007")

220000

In [55]:
Emp_HW_1.show_insur("@Nas007")

 Sal of Nas is 25000

In [56]:
Emp_HW_1.show_sal("@Nas007")

 Sal of Nas is 200000